<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

 	<listeners>
		<listener class-name="extentlisteners.ExtentListeners"></listener>
	</listeners>

<!-- 	<test name="TS001_TC001_Currys URL and logo">
		<classes>
			<class name="testcases.TS001TC001CurrysURLAndLogoTest" />
		</classes>
	</test> -->

	<test name="TS002_TC001_Search available items">
		<classes>
			<class name="testcases.TS002TC001SearchAvailableItemsTest" />
		</classes>
	</test>

	<test name="TS002_TC002_Search invalid items">
		<classes>
			<class name="testcases.TS002TC002SearchInvalidItemsTest" />
		</classes>
	</test>

	<test name="TS003_TC001_Navigation to main menu product page">
		<classes>
			<class
				name="testcases.TS003TC001NavigationToMainMenuProductTest" />
		</classes>
	</test>

	<test name="TS004_TC001_Add items to Product Basket">
		<classes>
			<class name="testcases.TS004TC001AddItemsToProductBasketTest" />
		</classes>
	</test>

	<test name="TS005_TC001_Track your order to be delivered today">
		<classes>
			<class
				name="testcases.TS005TC001TrackYourOrderDeliveryTodayTest" />
		</classes>
	</test>

	<test name="TS006_TC001_Find a store">
		<classes>
			<class name="testcases.TS006TC001FindAStoreTest" />
		</classes>
	</test>

	<test name="TC007_TC001_Navigation to other Currys website">
		<classes>
			<class
				name="testcases.TC007TC001NavigationToOtherCurrysWebsiteTest" />
		</classes>
	</test>

</suite> 
